body{
  background-color: black;
  margin: 0;
  padding: 0;
}
img{
  width:25%;
}
h1{
  color: #00cdd1;
  font-family: 'Germania One', cursive;
  font-size: 3rem;
}
.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  flex-flow: column;
}
.dial{
  position: relative;
  bottom: 73.5vh;
  animation-name: rotate;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.dial:hover {
   animation-play-state: paused;
 }
@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
