body{
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  height: 100vh;
}
img{
  width:50vh;
}
h1{
  color: #00cdd1;
  font-family: 'Germania One', cursive;
  font-size: 3rem;
}
.container{
  position: relative;
}
.dial{
  position: absolute;
  top: 2%;
  transition-timing-function: cubic-bezier(0.1,2.7,0.58,1);
  transition: all 0.5s;
  animation-name: rotate;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.dial:hover {
   animation-play-state: paused;
 }
@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
